body {
  position: relative;
  margin: auto; 
  color: #001028;
  background: rgb(248, 248, 248); 
  font-family: Arial, sans-serif; 
  font-size: 12px;
}
html, body{
  height: 100%;
  max-height: 100%;
}
.padding {
  padding-bottom: 15px;
}
  
h1 {
  color: #585858;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align:center;
  padding: 20px 0px;
}

.tablacenter td,
.tablacenter tr{
  vertical-align:middle;
  text-align: center;
}
 
/*Poner forma cuadrada de la derecha del Select Sector e Input Localidad*/
#slct-sector{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#localidad{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#contenedor-sectores{
  overflow-y: auto;
  height: 78%;
}

div > p {
  color: rgb(241, 62, 62);
  font-weight: 700;
  padding: 0px 0px;
}

@media (max-width: 403px){
  h1{
    font-size: 1.8em;
    padding: 10px 0px;
  }
  .autocomplete
  {
    width: 47%;
  }
}