body {
  position: relative;
  margin: auto; 
  color: #001028;
  background: rgb(248, 248, 248); 
  font-family: Arial, sans-serif; 
  font-size: 12px;
}
  
.padding {
  padding-bottom: 15px;
}
  
h1 {
  color: #585858;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align:center;
  padding: 20px 0px;
}

.tablacenter td,
.tablacenter tr{
  vertical-align:middle;
  text-align: center;
}
 
/*Poner forma cuadrada de la derecha del Select Sector e Input Localidad*/
#slct-sector{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#localidad{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.coles{
  border: solid green 2px;
  height: auto;
}